.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header .container {
  width: 100%;
  max-width: 750px;
  position: relative;
  min-height: 100vh;
}
.chat {
  list-style-type: none;
  width: 100%;
}
.chat-item {
  /* display: grid;
  grid-template-columns: 50px 1fr; */
  align-items: center;
  margin-bottom: 20px;

  position: relative;
  min-height: 80px;
}
.chat-item_text {
  text-align: left;
  position: absolute;
  left: 48px;
  top: 16px;
}
.chat-item_icon {
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 20px;
  bottom: 0;
  width: 40px;
}
.chat-item_name {
  position: absolute;
  top: 14px;
  font-size: 13px;
  left: 50px;
}
.container form {
  position: absolute;
  bottom: 0;

  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 80px;
}
